{% extends 'layout/base.html.twig' %}

{% block styles %}
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5028641394927049"
        crossorigin="anonymous"></script>
    <link href="/assets/css/tools.css" rel="stylesheet" />
{% endblock %}

{% block body %}
<div id="wrap" class="tools-page">
    <section class="tools-visual">
        <p class="bgtxt"><span>DEV</span>TOOLS</p>
        <div class="title">
            <h3><span>DEVELOPER TOOLS</span>개발자 도구 모음</h3>
            <p>자주 쓰는 변환, 생성, 검증 작업을 브라우저에서 빠르게 처리합니다.</p>
        </div>
    </section>

    <section class="tools-list">
        <div class="tools-inner">
            <ul>
                {% for item in tools %}
                    <li data-aos="fade-up" data-aos-duration="1200">
                        <a href="{{ item.url }}">
                            <span class="tool-mark">{{ loop.index }}</span>
                            <h4>{{ item.name }}</h4>
                            <p>{{ item.description }}</p>
                            <em>도구 열기</em>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>
</div>
{% endblock %}
