

    <!-- CONTACT   // S -->
    <div id="contact">
        <div class="title">
            <h3>CONTACT US</h3>
            <p>궁금한 사항이 있으신가요?  담당자가 확인 후 빠르게 회신드립니다</p>
        </div>

        <div class="formbox"  data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
            <ul>
                <li class="half">
                    <p class="tit">업체명 <font>*</font></p>
                    <input type="text" placeholder="업체, 단체명을 입력해 주세요." name="" value="" required >
                </li>
                <li class="half">
                    <p class="tit">성명 <font>*</font></p>
                    <input type="text" placeholder="성명을 입력해 주세요." name="" value="" required >
                </li>
                <li class="half">
                    <p class="tit">연락처 <font>*</font></p>
                    <input type="text" placeholder="연락처를 입력해 주세요." name="" value="" required >
                </li>
                <li class="half">
                    <p class="tit">이메일 <font>*</font></p>
                    <input type="text" placeholder="이메일을 입력해 주세요." name="" value="" required >
                </li>
                <li class="half">
                    <p class="tit">예산 </p>
                    <input type="text" placeholder="희망 예산을 만원 단위로 입력해 주세요. " name="" value=""  >
                </li>
                <li class="memo">
                    <p class="tit">문의내용</p>
                    <textarea name="" id="" placeholder="문의내용을 입력하세요."></textarea>
                </li>
            </ul>

            <div class="btnbox">
                <a href="">문의하기 <img src="../images_dev/arrow_white.png" alt=""></a>
            </div>
        </div>
    </div>
    <!-- CONTACT   // E -->

