<section class="py-5 bg-light">
    <div class="container px-5 my-5">
        <div class="text-center">
            <h2 class="fw-bolder">문의하기</h2>
            <p class="lead">언제든지 연락 주세요. 빠르게 답변드리겠습니다.</p>
            <a class="btn btn-primary btn-lg" href="mailto:help@wyhds.com">이메일 보내기</a>
        </div>
    </div>
</section>
