<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center my-5">
                    <h1 class="display-5 fw-bolder text-white mb-2">We make<br>Your Hoding dreams</h1>
                    <p class="lead text-white-50 mb-4">IT / WEB ㆍ EDITORIAL DESIGN / COMPANY</p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                        <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#contact_section">문의하기</a>
                        <a class="btn btn-outline-light btn-lg px-4" href="#pricing2">더 보기</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>