<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-4 mb-5">
                <h2 class="fw-bolder mb-0">우리의 장점</h2>
            </div>
            <div class="col-lg-8">
                <p class="lead">WY Holdings는 안정성과 혁신을 모두 갖춘 솔루션을 제공합니다.</p>
            </div>
        </div>
    </div>
</section>
