<div id="footer">
    <div class="footer_content">
        <div class="tbox">
            <div class="left">
                <p>We make Your Holding dreams</p>
                <h4  data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
                    고객에게 최적화된 우용D&S<br/>
                    우리는 결과로 증명합니다
                </h4>
            </div>
            <div class="right">
                <a href="" target="_blank">회사소개소 보기</a>
                <a href="" target="_blank">포트폴리오 보기</a>
            </div>
        </div>

        <div class="address">
            <div class="addbox">
                <p><span>대표전화</span> 031-900-1234</p>
                <p><span>E-mail</span> help@wyhds.com</p>
                <p><span>주소</span> 경기도 고양시 일산동구 장백로 26, 103동 203호</p>
                <p><span>대표자</span> 최우용</p>
                <p><span>사업자등록번호</span> 238-48-01101</p>
            </div>
            <p class="copy">ⓒ WY D&S. All rights reserved.</p>
        </div>
    </div>
</div>


<script>
  AOS.init();
</script>

</div>
<!-- wrapper //E -->
