<div id="sidequick">
    <a href="/contact" class="inq">
        <span class="pulse3"></span>
        <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
            <mask id="mask0_15598_470" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="26" height="26">
            <rect width="26" height="26" fill="#D9D9D9"></rect>
            </mask>
            <g mask="url(#mask0_15598_470)">
            <path d="M5.41667 22.7504C4.82083 22.7504 4.31076 22.5382 3.88646 22.1139C3.46215 21.6896 3.25 21.1796 3.25 20.5837V5.41706C3.25 4.82122 3.46215 4.31115 3.88646 3.88685C4.31076 3.46254 4.82083 3.25039 5.41667 3.25039H15.0854L12.9187 5.41706H5.41667V20.5837H20.5833V13.0546L22.75 10.8879V20.5837C22.75 21.1796 22.5378 21.6896 22.1135 22.1139C21.6892 22.5382 21.1792 22.7504 20.5833 22.7504H5.41667ZM9.75 16.2504V11.6462L19.6896 1.70664C19.9062 1.48997 20.15 1.32747 20.4208 1.21914C20.6917 1.11081 20.9625 1.05664 21.2333 1.05664C21.5222 1.05664 21.7976 1.11081 22.0594 1.21914C22.3212 1.32747 22.5604 1.48997 22.7771 1.70664L24.2937 3.25039C24.4924 3.46706 24.6458 3.70629 24.7542 3.9681C24.8625 4.2299 24.9167 4.49622 24.9167 4.76706C24.9167 5.03789 24.867 5.30421 24.7677 5.56602C24.6684 5.82782 24.5104 6.06706 24.2937 6.28372L14.3542 16.2504H9.75ZM11.9167 14.0837H13.4333L19.7167 7.80039L18.9583 7.04206L18.1729 6.28372L11.9167 12.54V14.0837Z" fill="white"></path>
            </g>
        </svg>
        견적문의
    </a>
    <a href="#wrapper" class="top">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <mask id="mask0_15598_491" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
            <rect width="24" height="24" fill="#D9D9D9"></rect>
            </mask>
            <g mask="url(#mask0_15598_491)">
            <path d="M4 5V3H20V5H4ZM11 21V10.8L8.4 13.4L7 12L12 7L17 12L15.6 13.4L13 10.8V21H11Z" fill="#101010"></path>
            </g>
        </svg>
    </a>
</div>

<div id="footer">
    <div class="footer_content">
        <div class="tbox">
            <div class="left">
                <p class="footer-logo"><img src="/images/logo_b_v2.png" alt="WYHDS"></p>
                <h4  data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
                    고객에게 최적화된 우용디앤에스<br/>
                    우리는 결과로 증명합니다
                </h4>
            </div>
            <div class="right">
                <a href="" target="_blank">회사소개서 보기</a>
                <a href="/portfolio" target="_blank">포트폴리오 보기</a>
            </div>
        </div>

        <div class="address">
            <div class="addbox">
                {# <p><span>대표전화</span> 031-900-1234</p> #}
                <p><span>E-mail</span> help@wyhds.com</p>
                <p><span>주소</span> 경기도 고양시 일산동구 장백로 26, 103동 203호</p>
                <p><span>대표자</span> 최우용</p>
                <p><span>사업자등록번호</span> 238-48-01101</p>
            </div>
            <p class="copy">ⓒ WY D&S. All rights reserved.</p>
        </div>
    </div>
</div>

<script>
  if (window.AOS) {
    AOS.init();
  }
  if (window.lucide) {
    lucide.createIcons();
  }
</script>

</div>
<!-- wrapper //E -->
