<head>
    <meta charset="utf-8" />
    <title>{{ title|default('우용홀딩스 | 홈페이지 제작') }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="우용홀딩스, 홈페이지 제작, 학회 홈페이지 제작, 행사 등록 시스템 개발, 학술대회, 협회 홈페이지 제작" />
    <meta name="keywords" content="우용홀딩스, WY Holdings, 홈페이지 제작, 웹사이트 제작, 학회 홈페이지 제작, 행사 등록 시스템 개발, 학술대회, 협회 홈페이지 제작" />
    <meta name="author" content="" />
    <meta property="og:title" content="우용홀딩스">
    <meta property="og:description" content="홈페이지 제작, 학회 홈페이지 제작, 행사 등록 시스템 개발, 학술대회, 협회 홈페이지 제작">
    <meta property="og:url" content="https://wyhds.com/">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://wyhds.com/images/logo.png">
    <meta property="og:site_name" content="우용홀딩스">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />   

    <link href="/assets/css/default.css" rel="stylesheet" />
    <link href="/assets/css/styles_dev.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <meta name="naver-site-verification" content="f6242ce6b56b700a760372091497f62481650ee8" />
    
</head>
