<section class="py-5 border-bottom">
    <div class="container px-5 my-5 px-5">
        <div class="text-center mb-5">
            <h2 class="fw-bolder">고객 후기</h2>
            <p class="lead mb-0">고객들이 남겨주신 후기입니다 <div class="small text-muted">(※일부 각색)</div></p>
        </div>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <!-- Testimonial 1-->
                <div class="card mb-4">
                    <div class="card-body p-4">
                        <div class="d-flex">
                            <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i></div>
                            <div class="ms-4">
                                <p class="mb-1">피드백이 빠르고 원하는 방향으로 수정해주셨습니다! 꼼꼼하게 만들어 주셨고 고객 맞춤 응대가 맘에 들었습니다!</p>
                                <div class="small text-muted">- 인테리어 업체 제작 후기</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Testimonial 2-->
                <div class="card">
                    <div class="card-body p-4">
                        <div class="d-flex">
                            <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i></div>
                            <div class="ms-4">
                                <p class="mb-1">관리자 페이지의 다양한 기능들을 오류나 문제 없이 만들어 주셨습니다. 기업 관리 용으로 사용하기 편하여 업무 능률이 올라갔습니다.</p>
                                <div class="small text-muted">- 학회 제작 후기</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>