{% extends 'layout/base.html.twig' %}

{% block body %}
    
    <div id="wrap">
        {# <div class="mainvisual">
            <div class="maintxt">
                <h2>{{ site_title }}</h2>
                <h5>{{ event_date }}</h5>
            </div>
        </div> #}
        <div class="video-background ">
            <video autoplay muted loop playsinline>
                <source src="/images/mainvideo.mp4" type="video/mp4">
                브라우저가 비디오 태그를 지원하지 않습니다.
            </video>
            <div class="content maintxt">
                <h2>{{ site_title }}</h2>
                <h5>{{ event_date }}</h5>
            </div>
        </div>
        {% include 'partials/_pricing.html.twig' %}
        {% include 'partials/_pricing2.html.twig' %}
        {% include 'partials/_testimonials.html.twig' %}
        {% include 'partials/_contact.html.twig' %}
    </div>
    {# {% include 'partials/_header.html.twig' %}
    {% include 'partials/_features.html.twig' %}
    {% include 'partials/_pricing.html.twig' %}
    {% include 'partials/_pricing2.html.twig' %}
    {% include 'partials/_testimonials.html.twig' %}
    {% include 'partials/_contact.html.twig' %} #}
{% endblock %}
