@charset "utf-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");/* */
@import url("~lucide-static/font/Lucide.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

 

* { box-sizing: border-box;} 

img { max-width: 100%; } 

html { font-size: 16px; color: #111; font-family:'Montserrat',  "Pretendard", "맑은 고딕", malgun gothic, AppleGothicNeoSD, Apple SD 산돌고딕 Neo, Microsoft NeoGothic,  Droid sans, sans-serif; } 



/* CSS reset Start*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td { margin: 0; padding: 0; letter-spacing: -0.02em; font-weight: 400; line-height: 1.5; word-break: keep-all; } 

html { margin: 0; padding: 0; overflow-y: scroll; width: 100%; height: 100%; } 

body { margin: 0; padding: 0; width: 100%; height: 100%; } 

table { border-collapse: collapse; border-spacing: 0; padding: 0; margin: 0; width: 100%; } 

fieldset,
img { border: 0; } 

address,
caption,
cite,
code,
dfn,
th,
var { font-style: normal; font-weight: normal; } 

ol,
ul { list-style: none; } 

a { text-decoration: none; } 

caption,
th { text-align: left; } 

h1,
h2,
h3,
h4,
h5,
h6 { font-size: 100%; font-weight: normal; } 

q:before,
q:after { content: ''; } 

abbr,
acronym { border: 0; } 

/* CSS reset End*/


/*LOW VER. IE SUPPORT HTML5*/
article,
aside,
hgroup,
header,
footer,
figure,
figcaption,
section,
time,
mark,
canvas,
video,
audio,
details,
summary { display: block; } 


th { text-align: center; font-weight: bold; } 

a { color: inherit } 

a:link { text-decoration: none } 

a:visited { text-decoration: none } 

a:active { color: inherit; text-decoration: none } 

a:hover { color: inherit; text-decoration: none } 


#wrap { width: 100%; } 

#default_size { width: 100%; text-align: center; } 

input,
button,
select,
.MuiFormControl-root { font-family: 'Pretendard' !important; } 

@media screen and (max-width: 760px) {
    html { font-size: 14px !important; } 
 }
