/* public/assets/css/styles.css */
@charset "UTF-8";
html{scroll-behavior: smooth;}
#wrapper {margin:0 auto;max-width:2000px;}

/* header*/
#header{position:fixed; width:100%; left:0; top:0; height:100px; z-index:1000;background:transparent;}
#header .header_in{max-width:1560px;margin:0 auto; display:flex; align-items:center; justify-content: space-between; position:relative; height:100px;}
#header .header_in h1{position:relative;z-index: 1002;}
#header .header_in h1 a{display:block; width:148px;height:47px;background:url('../../images_dev/logo_v2.png') center center no-repeat;font-size:0;background-size:100%}
#header .header_in .burger{}

.burger {width: 35px;height: 28px;position: relative;cursor: pointer;z-index: 1002;}
.burger span {display: block;position: absolute;height: 3px;width: 100%;background: #fff;border-radius: 4px;opacity: 1;left: 0;}
.burger span:nth-child(1) {  top: 0px;}
.burger span:nth-child(2) {  top: 12px;}
.burger span:nth-child(3) {  top: 24px;}


/* 반전 헤더 */
#header.onheader{background-color:#fff;box-shadow:0 3px 10px rgba(0, 19, 100, 0.1)}
#header.onheader .header_in h1 a{background:url('../../images_dev/logo_b_v2.png') center center no-repeat;background-size:100%}
.onheader .burger span {background: #005bac;}
/* 서브 헤더 */
#header.subheader{background-color:#fff;box-shadow:0 3px 10px rgba(0, 19, 100, 0.1)}
#header.subheader .header_in h1 a{background:url('../../images_dev/logo_b_v2.png') center center no-repeat;background-size:100%}
.subheader .burger span {background: #005bac;}



#gnb{position: absolute; top:0;left:0;z-index: 1001;width:100%;  height:100px;;}
#gnb ul{width:100%;height:100%; display:flex; justify-content: center;align-items: center;}
#gnb ul li{position:relative;height:100%;}
#gnb ul li > a{font-size: 21px; color:#fff; font-weight: 500;line-height:100px;display:block; min-width:180px;text-align: center;}
#gnb ul li > .submenu{display:none;;opacity:0;position:absolute; top:80px; left:0;width:100%;padding:20px 0;text-align:center;transition: all .8s;border-radius:14px; background-color:#005cace4;}
#gnb ul li > .submenu a{display:block;font-size: 18px; padding:5px 0;;color:#ffffffe1;}
#gnb ul li > .submenu a:hover, #gnb ul li > .submenu a:focus {color:rgba(187, 230, 255, 0.923)}
#gnb ul li:hover > a{color:rgba(187, 230, 255, 0.923)}
#gnb ul li:hover .submenu{display:block;opacity:1;animation: moveUp 0.4s ease-out forwards;}
@keyframes moveUp {
  from {
    top: 80px;
  }
  to {
    top: 100px;
  }
}

.onheader #gnb ul li > a{color:#111;}
.onheader #gnb ul li:hover > a{color:#005bac;}
.subheader #gnb ul li > a{color:#111;}
.subheader #gnb ul li:hover > a{color:#005bac;}



#menuArea {position:fixed; top:0; right:-340px; z-index:2000; height:100%; width:320px;transition:all .3s;}
#menuArea.on {right:0;}
#menuArea .menuList { height:100%; width:340px; background: #000c3f; position:absolute; right:0; box-sizing:border-box; padding:50px 40px 0; } 

#menuArea .menuList > .list {width:100%; ;}
#menuArea .menuList > .list > li{border-bottom:1px solid rgba(255,255,255,0.3); padding:0 0 15px;}
#menuArea .menuList > .list > li:last-child{border-bottom:none;}
#menuArea .menuList > .list > li > a {display:inline-block; margin:20px 0 0; font-size:20px; font-weight:500; color:#fff; position:relative; letter-spacing: 0; width: 100%; box-sizing:Border-box; }
#menuArea .menuList > .list .sMenu {position: relative; width: 100%; box-sizing:Border-box; font-size:0; }
/* #menuArea .menuList > .list > li .sMenu {display:none;} */
/*#menuArea .menuList > .list .sMenu > li {display:inline-block; padding:6px 0; line-height: 120%; width:50%; }*/
#menuArea .menuList > .list .sMenu > li {display:inline-block; padding:6px 0; line-height: 120%; width:100%; }
#menuArea .menuList > .list .sMenu > li > a {font-size:16px; color:rgba(255,255,255,0.7); font-weight: 400; line-height: 120%; letter-spacing: -0.35pt;}
#menuArea .menuList > .list .sMenu > li > a:hover, #menuArea .menuList > .list .sMenu > li > a:focus {color:rgba(187, 230, 255, 0.923);}
#menuArea .menuList .btnMenu_mClose{padding:0; border:0; font-size:0; background:none; outline:none; cursor:pointer; width: 14px; height: 14px; background:url('../../images_dev/nav_close.png') no-repeat center/100% auto; position:absolute; right:30px; top:30px;}

#menuArea .menuList .navfoot{padding:20px; background-color: rgb(255 255 255 / 10%);border-radius: 10px;;text-align: center;margin:30px 0 0;}
#menuArea .menuList .navfoot h6{font-size:17px;line-height:1; font-weight:600;color:rgba(187, 230, 255, 0.923);padding:0 0 5px 0;}
#menuArea .menuList .navfoot p{font-size:15px; line-height:1; margin:7px 0;color:#ffffffe4;}
#grayLayer {width:100%; height:100% !important; background:rgba(11, 4, 2, 0.40); position:fixed; left:0; top:0; z-index:1002; overflow-x:hidden;overflow-y:auto;display:none;}
#grayLayer > a {display:block;width:100%;height:100%}

#sidequick{position:fixed; right:30px;bottom:30px;z-index:100;display: flex; flex-direction: column;gap:10px;align-items: center;}
#sidequick a.inq{position:relative; width:80px; height: 80px; border-radius:100%;;display:flex;flex-direction: column; align-items: center;justify-content: center;box-shadow: 2px 2px 10px rgba(0,0,0,0.15); background: #283d99;font-size: 0.95rem; font-weight: 600;color:#fff;background: linear-gradient(120deg, rgba(40, 61, 153, 1) 0%, rgba(0, 183, 255, 1) 100%);}
#sidequick a.inq:hover, #sidequick a.inq:focus {background: linear-gradient(120deg, rgba(0, 183, 255, 1)  0%, rgba(40, 61, 153, 1) 100%);}

@keyframes pulse-ring {
    0%   { transform: scale(1);    opacity: 0.8; }
    100% { transform: scale(1.35); opacity: 0;   }
}

#sidequick a.inq::before,
#sidequick a.inq::after,
#sidequick a.inq .pulse3 {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 100%;
    border: 2px solid rgba(0, 183, 255, 0.7);
    animation: pulse-ring 2.4s ease-out infinite;
}
#sidequick a.inq::after  { animation-delay: 0.8s; }
#sidequick a.inq .pulse3 { animation-delay: 1.6s; }


#sidequick a.top{width:65px; height: 65px; background-color: #fff;border-radius:100%;;display:flex; align-items: center;justify-content: center;box-shadow: 2px 2px 10px rgba(0,0,0,0.15); }
#footer {background-color: #202531; padding:100px 20px ;;}
#footer .footer_content{max-width: 1560px; margin:0 auto;}
#footer .footer_content .tbox{display:flex;justify-content: space-between;align-items: flex-end;margin:0 0 40px 0; padding:0 0 40px 0; border-bottom:1px solid #ffffff1f;}
#footer .footer_content .tbox .left p{font-size: 22px; font-weight: 600;color: #9cafdd; letter-spacing: 0; line-height: 1; margin:0 0 25px 0;;}
#footer .footer_content .tbox .left h4{font-size: 39px; font-weight: 700;color: #e8eaf1; letter-spacing: -0.01em; line-height:1.3;}
#footer .footer_content .tbox .right {display:flex; gap:0 20px;}
#footer .footer_content .tbox .right a{display:block; width:180px;height:43px; line-height: 43px; text-align: center; border: 1px solid #e8eaf1c8; border-radius: 43px; font-size:17px; color:#e8eaf1; font-weight: 500;;transition: all .2s;}
#footer .footer_content .tbox .right a:hover,
#footer .footer_content .tbox .right a:focus {background-color:#e8eaf1; color:#000c3f;}
#footer .footer_content .address .addbox{display:flex; gap:10px 40px; margin:0 0 20px 0;width:830px;flex-wrap: wrap;}
#footer .footer_content .address .addbox p{font-size: 16px; color: #e8eaf1; letter-spacing:-0.01em; ;}
#footer .footer_content .address .addbox p span{color: #93a5d1;;}
#footer .footer_content .address .copy{color:#626877; font-size: 16px;font-weight: 500;}


    /* 헤더 + 푸터 반응형--------------------------------*/
    @media screen and (max-width: 1560px) {  
        #header .header_in {max-width:auto; padding:0 20px;}
    }
    @media screen and (max-width: 1280px) {
        
        #gnb ul li > a {min-width: 150px; font-size:20px;;}
    }
    @media screen and (max-width: 1024px) {

    #header { height: 70px; }
    #header .header_in { height: 70px; }
    #gnb { height: 70px; }

    #gnb {display:none;}
    #footer .footer_content .tbox{    flex-direction: column;align-items: flex-start;gap:30px 0;}
    #footer .footer_content .tbox .left h4{font-size:30px;}
    #footer .footer_content .tbox .left p {font-size: 17px;margin:0 0 10px 0;}
    #footer .footer_content .address .addbox{width: auto;}
    #footer .footer_content .address .addbox p{display:inline-block;}
    }
    @media screen and (max-width: 640px) {
    #footer .footer_content .tbox .left h4{font-size:22px;}
    #footer .footer_content .tbox .left p {font-size: 15px;}
    #footer .footer_content .tbox .right{    gap: 10px 0;flex-direction: column;}
        #sidequick { right: 15px; bottom: 15px; }
        #sidequick a.inq { width: 60px; height: 60px; font-size: 0.8rem; }
        #sidequick a.top { width: 50px; height: 50px; }
    }

    @media screen and (max-width: 370px) {

    #header .header_in h1 a { width: 120px; }
    
    #footer { padding: 60px 16px; }
    #footer .footer_content .tbox .left h4 { font-size: 18px; }
    #footer .footer_content .tbox .left p { font-size: 13px; }
    #footer .footer_content .tbox .right a {    width: 160px; font-size: 14px; }
    #footer .footer_content .address .addbox p { font-size: 13px; }
    #footer .footer_content .address .copy { font-size: 13px; }
    #sidequick { right: 10px; bottom: 10px; gap: 6px; }
    #sidequick a.inq { width: 50px; height: 50px; font-size: 0.7rem; }
    #sidequick a.top { width: 42px; height: 42px; }

    }



/* 메인비주얼 */
#mainvisual{width:100%; height:100vh; position:relative; background:url('../../images_dev/visual_bg.jpg') center center no-repeat;overflow:hidden;}
#mainvisual .v_symbol{position:Absolute; left: 1%;top: 21%;}
#mainvisual .v_circle{position:Absolute;     right: -20%;top: -40%;}
#mainvisual .v_circle img{ animation: rotateSlow 4s linear infinite;}
@keyframes rotateSlow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#mainvisual .swiper{width:100%;height:100%;}
#mainvisual .swiper .slide-option{display:flex;width:100%; left:0; position:absolute; bottom:60px; justify-content: center;align-items: center;}
#mainvisual .swiper .slide-option .swiper-button-next,
#mainvisual .swiper .slide-option .swiper-button-prev{position:static;width:8px; height:11px;margin:0 9px;}
#mainvisual .swiper .slide-option .swiper-button-next{background:url('../../images_dev/visual_next.png') center center no-repeat;}
#mainvisual .swiper .slide-option .swiper-button-prev{background:url('../../images_dev/visual_prev.png') center center no-repeat;}
#mainvisual .swiper .slide-option .swiper-button-next svg,
#mainvisual .swiper .slide-option .swiper-button-prev svg{display:none;}

#mainvisual .swiper .swiper-pagination{bottom:50px;position: static;display:inline-block; width:auto;margin-right:5px;}
#mainvisual .swiper .swiper-pagination .swiper-pagination-bullet{background-color:#ffffff;opacity:1;margin:0 7px;}
#mainvisual .swiper .swiper-pagination .swiper-pagination-bullet-active{background-color:#31a9e4;}

#mainvisual .swiper-slide {position: relative; height: 100vh; overflow: hidden;}
#mainvisual .swiper-slide .inner {position: absolute;top: 50%;left: 50%;max-width: 1560px;width: 100%;padding-top: 10px;padding-left: 15px;
    padding-right: 15px;transform: translate(-50%, -50%);color: #fff;display: flex;align-items: center;}
#mainvisual .swiper-slide .inner .textbox {width: 40%;}
#mainvisual .swiper-slide .inner .textbox p.tit {font-size: 21px; font-weight:200; letter-spacing:0.5em; color:#fff;margin:0 0 20px 0;}
#mainvisual .swiper-slide .inner .textbox h3.title {font-size: 57px; line-height:1.25; font-weight:600; letter-spacing:-0.01em; color:#fff;margin:0 0 60px 0;}
#mainvisual .swiper-slide .inner .textbox .desc{border-left:2px solid rgba(255,255,255,0.7); font-size:24px; line-height:1.6; color:Rgba(255,255,255,0.8); padding: 0 0 0 22px;}

#mainvisual .swiper-slide .inner .imgbox {    position: relative;width: 60%;}
#mainvisual .swiper-slide .inner .imgbox img {width:100%; max-width:100%; height:auto;}

#mainvisual .scrollDown{max-width: 1560px;width: 100%;position:absolute;bottom:0; left: 50%;transform: translate(-50%, 0);display:flex;align-items: flex-start;flex-direction: column;justify-content: center;;}
#mainvisual .scrollDown p{font-size:13px; font-weight:700;color:#fff;letter-spacing: 0.04em; writing-mode: vertical-rl;}
#mainvisual .scrollDown .barbg{width:2px; height:70px; background-color: #ffffff5b;position:relative;margin: 10px 0 0 8px;;}
#mainvisual .scrollDown .barbg .bar{width:2px; height:17px; background-color: #ffffffd6;position:absolute;left:0;top:0;animation: moveDown 1.5s ease-out infinite;}
@keyframes moveDown {
  from {
    top: 0;
  }
  to {
    top: 100%;
  }
}


    /* 메인비주얼 반응형 --------------------------------*/
    @media screen and (max-width: 1560px) {  
        #mainvisual .swiper-slide .inner{padding:0 50px; box-sizing: border-box;}
        #mainvisual .swiper-slide .inner .textbox h3.title {font-size: 40px;;}
        #mainvisual .swiper-slide .inner .textbox .desc{font-size: 21px;;}
        #mainvisual .swiper-slide .inner .imgbox{padding-left:60px;box-sizing: border-box;}
        #mainvisual .scrollDown{padding-left:50px; box-sizing: border-box;}
    }
    @media screen and (max-width: 1024px) {  
        #mainvisual{height:100vh; padding:70px 0;box-sizing: content-box;}
        
        #mainvisual .swiper-slide{height:100%;}
        #mainvisual .v_circle img{ width:800px;}
        #mainvisual .v_symbol {left: -5%;top: 9%}
        #mainvisual .v_symbol img{width:250px;}
        #mainvisual .swiper .slide-option{bottom:0;}
        #mainvisual .swiper-slide .inner{flex-direction: column; gap:0;;padding:0 30px;}
        #mainvisual .swiper-slide .inner .textbox{width:100%;margin:0 0 40px 0;}
        #mainvisual .swiper-slide .inner .textbox p.tit{font-size:17px; margin:0 0 10px 0;}
        #mainvisual .swiper-slide .inner .textbox h3.title{font-size:34px;margin: 0 0 40px 0;}
        #mainvisual .swiper-slide .inner .imgbox{width:100%;padding:0;text-align: center;}
        #mainvisual .swiper-slide .inner .imgbox img{max-width:82%;}
        .burger{width:25px;height: 23px;}
        .burger span:nth-child(2){top:10px;}
        .burger span:nth-child(3){top:20px;}
    }

    @media screen and (max-width: 640px) {  
        #mainvisual{height:650px;}
        #mainvisual .scrollDown{display:none;}
        #mainvisual .v_circle{display:none;}
        #mainvisual .v_symbol {left: -5%;top: 11%}
        #mainvisual .v_symbol img{width:200px;}    
        #mainvisual .swiper{overflow: visible;}
        #mainvisual .swiper .slide-option{bottom:-40px;}
        #mainvisual .swiper-slide .inner .textbox h3.title{font-size:27px;}
        #mainvisual .swiper-slide .inner .textbox .desc{font-size:18px;}
        #mainvisual .swiper-slide .inner .textbox p.tit{font-size:15px;}
    }
    @media screen and (max-width: 370px) {  

    #mainvisual { height: 450px; }
    #mainvisual .swiper-slide .inner { padding: 0 16px; }
    #mainvisual .swiper-slide .inner .textbox h3.title { font-size: 22px; }
    #mainvisual .swiper-slide .inner .textbox .desc { font-size: 15px; }
    #mainvisual .swiper-slide .inner .textbox p.tit { font-size: 13px; letter-spacing: 0.2em; }

    }




#service{padding:150px 50px; position: relative;}
#service .bgtext{position: absolute; top:110px; left:0;z-index: -1;;width:100%;  white-space: nowrap;box-sizing: border-box;overflow: hidden;}
#service .bgtext p{font-size: 280px; font-weight: 800;color:#f6f6f8;display:inline-block;animation: text-to-left 110s linear infinite;opacity:0.7;}
#service .bgtext p span{color: #ecf1f7;;}
/*오른쪽에서 왼쪽으로 텍스트가 흐르는 애니메이션*/
@keyframes text-to-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

#service .title{text-align:center; margin:0 0 110px 0;}
#service .title h3{font-size:75px; font-weight:700; color:#005bac; line-height: 1; margin:0 0 25px 0;;}
#service .title p{font-size:25px; font-weight:500; color:#222222; line-height: 1;}

#service .service_list {max-width:1560px; margin:0 auto; display: flex;gap: 0 55px; justify-content: center; align-items: center;}
#service .service_list > div{width:calc(33.333% - 36.66666666666667px);}

#service .service_list > div.card01 { animation: floatCard1 3.8s ease-in-out infinite; }
#service .service_list > div.card02 { animation: floatCard2 4.2s ease-in-out infinite 0.6s;transform: translateY(-35px); }
#service .service_list > div.card03 { animation: floatCard3 3.5s ease-in-out infinite 1.2s; }


@keyframes floatCard1 {
  0%, 100% { transform: translateY(0px); }
  50%      { transform: translateY(-40px); }
}

@keyframes floatCard2 {
  0%, 100% { transform: translateY(-35px); }
  50%      { transform: translateY(-75px); }
}

@keyframes floatCard3 {
  0%, 100% { transform: translateY(0px); }
  50%      { transform: translateY(-40px); }
}

#service .service_list > div a{display: flex; flex-direction: column;justify-content: space-between;padding:55px 48px;border-radius: 25px; background: linear-gradient(to top,#f2f7fc 0%,rgba(255, 255, 255, 0.5) 100%);gap:100px 0;  box-shadow:5px 5px 13px rgba(159, 164, 184, 0.2) ;transition: all .3s;}
#service .service_list > div a span img{transition:  all .5s;}
#service .service_list > div a .tbox .tit{font-weight: 700;color: #c7d3e4d8; font-size: 26px;line-height: 1;}
#service .service_list > div a .tbox h3{font-size: 34px; color:#111111; font-weight: 600; line-height: 1.2;margin: 8px 0 22px 0;;}
#service .service_list > div a .tbox h3 b{font-weight: 600;color: #2940b1;}
#service .service_list > div a .tbox .txt{color: #909cb1; font-size: 19px;line-height: 1.4;letter-spacing: -0.02em;;}
#service .service_list > div a:hover, #service .service_list > div a:focus {background-color:#d6e5ff;}
#service .service_list > div a:hover span img{transform: rotate(15deg);}

    @media screen and (max-width: 1560px) {
     #service { padding: 150px 20px; }
    
    }


    @media screen and (max-width: 1280px) {
    #service .service_list > div a .tbox .tit{font-size: 21px;}
     #service .service_list > div a .tbox h3{font-size:29px;}
     #service .service_list > div a .tbox .txt{font-size: 18px;}
     #service .service_list > div a .tbox .txt br{display: none;}
    }


    @media screen and (max-width: 1024px) {
    #service { padding: 100px 20px; }
    #service .title h3 { font-size: 52px; }
    #service .title p { font-size: 20px; }
    #service .title { margin: 0 0 70px; }
    #service .bgtext p { font-size: 180px; }
    #service .service_list { gap: 0 30px; }
    #service .service_list > div a { padding: 40px 30px; gap: 60px 0; }
    #service .service_list > div a .tbox .tit { font-size: 20px; }
    #service .service_list > div a .tbox h3 { font-size: 26px; }
    #service .service_list > div a .tbox .txt { font-size: 16px; }
    #service .service_list > div a span img{width:65px;height:auto;}
    }

    @media screen and (max-width: 640px) {
    #service { padding: 80px 20px; }
    #service .title h3 { font-size: 38px; }
    #service .title p { font-size: 17px;line-height: 1.3;; }
    #service .title { margin: 0 0 50px; }
    #service .bgtext { display: none; }
    #service .service_list { flex-direction: column; gap: 20px 0; align-items: stretch; }
    #service .service_list > div { width: 100%; }
    #service .service_list > div.card01,
    #service .service_list > div.card02,
    #service .service_list > div.card03 { animation: none; transform: none; }
    #service .service_list > div a { padding: 35px 28px; gap:25px; align-items: center; justify-content: flex-start;text-align: center;}
    #service .service_list > div a span { flex-shrink: 0; }
    #service .service_list > div a .tbox .tit { font-size: 16px; }
    #service .service_list > div a .tbox h3 { font-size: 22px; line-height: 1.2; margin: 8px 0; }
    #service .service_list > div a .tbox .txt { font-size: 14px; }

    }
    @media screen and (max-width: 370px) {
    #service { padding: 60px 16px; }
    #service .title h3 { font-size: 30px; }
    #service .title p { font-size: 15px; }
    #service .service_list > div a { padding: 24px 20px; gap: 24px 0; }
    #service .service_list > div a .tbox h3 { font-size: 19px;}
    #service .service_list > div a .tbox .txt { font-size: 13px; }
    }
                    




#portfolio {width:100%; padding:150px 20px;     background: linear-gradient(342deg, rgb(81 175 255) 0%, rgb(0 76 255) 100%);position: relative;}
#portfolio .bg-video{position: absolute;inset: 0;width: 100%;height: 100%;object-fit: cover;z-index:0;opacity:0.6;mix-blend-mode: multiply;}
#portfolio .portfolio_inner{position: relative;z-index:1;width:100%; max-width:1560px;margin:0 auto;}
#portfolio .title{ text-align: center;;}
#portfolio .title h3{font-size: 75px; font-weight: 700; color:#fff; line-height: 1;;}
#portfolio .title p{font-size: 25px; color:#a6caf9; font-weight: 500; margin:20px 0 60px;line-height: 1;;}
#portfolio .port_list{display:flex; flex-wrap:wrap; gap:20px;}
#portfolio .port_list .box{width:calc(33.33333% - 13.3333333px); aspect-ratio: 3 / 2; border-radius:10px; overflow: hidden;}
#portfolio .port_list .box a{display: block; width: 100%;height: 100%;position: relative;}
#portfolio .port_list .box a .hover{width:100%;height:100%;box-sizing: border-box; padding:65px 40px;position:Absolute;top:0; left:0;z-index:2;display:none;
	background: linear-gradient(120deg, rgba(40, 61, 153, 0.7) 0%, rgba(0, 183, 255, 0.7) 100%);
}
#portfolio .port_list .box a .hover h4{font-size:25px;color: #fff; font-weight: 500; line-height: 1;margin:-10px 0 16px 0; transition: all .4s;}
#portfolio .port_list .box a .hover .tag{font-size:16px; color: #dfefff;;}
#portfolio .port_list .box a .inner {position:absolute;top:0;left:0;z-index:1;width:100%;height:100%;}
#portfolio .port_list .box a .inner  img{width:100%; height:100%;object-fit: cover;transition: all 3s;}
#portfolio .port_list .box a .arrow{display: flex; width:41px; height: 41px;border-radius: 100%; background-color:#141636c7;position:Absolute; right:30px; bottom:30px; z-index:3;align-items: center; justify-content: center;}
#portfolio .port_list .box a .arrow img{width: 10px;height:auto;;}

#portfolio .port_list .box a:hover .hover{display:block;}
#portfolio .port_list .box a:hover .inner img{transform:scale(1.1);}
#portfolio .port_list .box a:hover .arrow{background-color:#0070ffe6;}
#portfolio .btnbox {display:flex; justify-content: center;margin:90px 0 0;}
#portfolio .btnbox a{display:block; width:275px;height: 63px; line-height: 63px; color:#b0b7d4; border:1px solid #b0b7d4; border-radius: 63px; text-align: center;font-size: 22px;font-weight: 600;;transition:all .6s;}
#portfolio .btnbox a:hover {background-color:#121a3a;color:#fff;border-color: #121a3a;}

@media screen and (max-width: 1560px) {

}

@media screen and (max-width: 1024px) {

  #portfolio { padding: 100px 20px; }
  #portfolio .title h3 { font-size: 52px; }
  #portfolio .title p { font-size: 20px; }
  #portfolio .port_list .box { width: calc(50% - 10px); }
  #portfolio .port_list .box a .hover { padding: 40px 30px; }
  #portfolio .port_list .box a .hover h4 { font-size: 20px; }
  #portfolio .btnbox { margin: 50px 0 0; }

}

@media screen and (max-width: 640px) {
  #portfolio { padding: 80px 20px; }
  #portfolio .title h3 { font-size: 38px; }
  #portfolio .title p { font-size: 17px; margin: 15px 0 40px; }
  #portfolio .port_list { flex-direction: column; gap: 15px; }
  #portfolio .port_list .box { width: 100%; }
  #portfolio .port_list .box a .hover h4 { font-size: 18px; margin: 0 0 8px; }
  #portfolio .btnbox a { width: 200px; height: 50px; line-height: 50px; font-size: 17px; }
}

@media screen and (max-width: 370px) {

  #portfolio { padding: 60px 16px; }
  #portfolio .title h3 { font-size: 30px; }
  #portfolio .title p { font-size: 15px; }
  #portfolio .port_list .box a .hover h4 { font-size: 16px; }
  #portfolio .port_list .box a .hover .tag { font-size: 13px; }
  #portfolio .btnbox a {font-size: 16px; }

}



#benefit{width:100%; overflow:hidden;padding:140px 0 200px;position:relative;background:url('../../images_dev/benefit_bg.png') center center no-repeat; background-size: cover;;}
#benefit .title{text-align:center; margin:0 0 50px 0;}
#benefit .title h3{font-size:75px; font-weight:700; color:#0c1430; line-height: 1; margin:0 0 25px 0;;}
#benefit .title p{font-size:25px; font-weight:500;color:#3b6fb7;}
#benefit .swiper-container{width:100%;}
#benefit .swiper-container .swiper-scrollbar{bottom:160px;    left: 50%;transform: translate(-50%, 0);max-width: 1560px;height:6px; background-color:#d7dde4;}
#benefit .swiper-container .swiper-scrollbar .swiper-scrollbar-drag{background-color:#919fac;}

#benefit .swiper-slide{position:relative;background: #FFFFFF;
background: linear-gradient(180deg, rgba(255, 255, 255, 1) 33%, rgba(242, 247, 252, 1) 100%); box-shadow:0 0 20px #505c681e;border-radius: 10px; overflow: hidden; padding:30px 20px 55px;; display:flex; flex-direction: column; align-items: center; justify-content: center;text-align: center;}
#benefit .swiper-slide .card{position: relative;z-index:2;}
#benefit .swiper-slide .num{font-size: 30px; font-weight: 700;color: #afc4dc; margin:0 0 20px 0;;}
#benefit .swiper-slide .icon{margin:0 0 20px 0;isolation: isolate}
#benefit .swiper-slide h4{font-size: 23px; color: #111; letter-spacing: -0.01em; line-height: 1; margin:0 0 11px 0;font-weight:700;}
#benefit .swiper-slide h5{font-size: 18px; color: #888888; letter-spacing: -0.01em; line-height: 1;}
#benefit .swiper-slide:hover {background: #2566A2;
background: linear-gradient(327deg, rgba(37, 102, 162, 1) 33%, rgba(0, 19, 100, 1) 100%);}
#benefit .swiper-slide:before{display: block;content: "";width:
    558px;height:659px;background:url('../../images_dev/bene_card_before.png') center center no-repeat;position:absolute;    left: -1000px;top: 0;transition:all .5s;z-index:1;}
#benefit .swiper-slide:after{display: block;content: "";width:
    659px;height:558px;background:url('../../images_dev/bene_card_after.png') center center no-repeat;position:absolute;    top: -160px;right: -1000px;transition:all .5s;z-index:1;}
#benefit .swiper-slide:hover h4, 
#benefit .swiper-slide:hover h5 {color:#fff;}
#benefit .swiper-slide:hover .icon img {  filter: brightness(1.3);}
#benefit .swiper-slide:hover:before { left: -270px;top: -276px;}
#benefit .swiper-slide:hover:after {top: -160px;right: -260px;}


    @media screen and (max-width: 1560px) {
    
        #benefit .title { padding: 0 20px; }
        
    }
    @media screen and (max-width: 1024px) {

    #benefit { padding: 100px 0 160px; }
    #benefit .title h3 { font-size: 52px; }
    #benefit .title p { font-size: 20px; }
    #benefit .swiper-container .swiper-scrollbar {bottom:100px;}
    #benefit .swiper-slide .icon img{width:auto; height:70px;}

    }

    @media screen and (max-width: 640px) {

    #benefit { padding: 80px 0 120px; }
    #benefit .swiper-slide .num{font-size:20px;margin:0 0 13px 0;}
    #benefit .title h3 { font-size: 38px; margin:0 0 15px 0;}
    #benefit .title p { font-size: 17px; }
    #benefit .swiper-slide h4{font-size:17px;letter-spacing: -0.03em;;}
    #benefit .swiper-slide h5{font-size: 15px;;letter-spacing: -0.03em;line-height:1.3;}
    #benefit .swiper-slide{padding:20px 10px 30px;min-height: 240px;;}
    #benefit .swiper-slide .icon{margin:0 0 13px 0;}
    #benefit .swiper-slide .icon img{width:auto; height:60px;}
    #benefit .swiper-container .swiper-scrollbar {bottom:60px;}

    }

    @media screen and (max-width: 370px) {

    #benefit { padding: 60px 0 100px; }
    #benefit .title h3 { font-size: 30px; }
    #benefit .title p { font-size: 15px; }
    }



#partner {position:relative; padding:140px 20px;}
#partner .title{text-align:center; margin:0 0 50px 0;}
#partner .title h3{font-size:75px; font-weight:700; color:#0c0e30; line-height: 1; margin:0 0 25px 0;;}
#partner .title p{font-size:25px; font-weight:500;color:#a4a7ab;}
#partner .partner_wrap{display: flex;}
#partner .partner_list{display: flex;}
#partner .partner_list li {margin-right: 4px;aspect-ratio: 2 / 0.9;width: 270px;overflow: hidden;position: relative;display:flex; align-items: center;justify-content: center;}
#partner .partner_list li img {max-width: 100%;display: block;object-fit: contain;}
#partner .gra_box{overflow: hidden;position: relative;}
#partner .gra_box::before, #partner .gra_box::after {
    content: '';
    display: block;
    width: 300px;
    height: 100%;
    background: linear-gradient(90deg, #fff 0%, rgba(255, 255, 255, 0.00) 100%);
    position: absolute;
    top: 0;
    z-index: 9;
}
#partner .gra_box::before{left:0;}
#partner .gra_box::after{right:0;transform: rotate(180deg);}

@keyframes flowRolling {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
@keyframes flowRolling2 {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

    @media screen and (max-width: 1560px) {
       #partner .title { padding: 0 20px; }
    }
    @media screen and (max-width: 1024px) {

        #partner { padding: 100px 20px; }
        #partner .title h3 { font-size: 52px; }
        #partner .title p { font-size: 20px; }
        #partner .partner_list{margin:10px 0;}
        #partner .partner_list li {margin-right: 54px;width: 160px;}

    }

    @media screen and (max-width: 640px) {

        #partner { padding: 80px 20px; }
        #partner .title h3 { font-size: 38px; margin:0 0 15px 0;}
        #partner .title p { font-size: 17px; }
        #partner .gra_box::before,
        #partner .gra_box::after { width: 80px; }
        #partner .partner_list li {width: 110px;}

    }

    @media screen and (max-width: 370px) {
        #partner { padding: 60px 16px; }
        #partner .title h3 { font-size: 30px; }
        #partner .gra_box::before,
        #partner .gra_box::after { width: 40px; }

    }



#contact {padding:150px 20px; background:url('../../images_dev/contact_bg.png') center center no-repeat; background-size: cover;}
#contact .title{text-align:center; margin:0 0 50px 0;}
#contact .title h3{font-size:75px; font-weight:700; color:#fff; line-height: 1; margin:0 0 25px 0;;letter-spacing: 0;}
#contact .title p{font-size:25px; font-weight:500;color:#6f84ab;margin: 0 0 60px 0;;}
#contact .formbox{width:100%; max-width: 1300px; margin: 0 auto;}
#contact .formbox ul{display: flex;flex-wrap: wrap; gap:25px 50px;}
#contact .formbox ul li.half{width: calc(50% - 25px);height:75px; border:1px solid #ffffff28;display:flex; align-items: center;justify-content: space-between;padding:0 35px;}
#contact .formbox ul li.memo{width:100%;height:180px; border:1px solid #ffffff28;padding:25px 35px;}
#contact .formbox ul li.memo .tit{margin:0 0 10px 0;}
#contact .formbox ul li.memo textarea{width:100%; height:100px;resize: none;border:none;background:none; outline:none;font-family: inherit; font-size: 19px; color:#fff;;}
#contact .formbox ul li.half{width: calc(50% - 25px);height:75px; border:1px solid #ffffff28;display:flex; align-items: center;justify-content: space-between;padding:0 35px;}
#contact .formbox ul li .tit {font-size:19px; color:#fff; font-weight:500;}
#contact .formbox ul li .tit font{color: #f84d4d;;}
#contact .formbox ul li input {border:none;background:none;outline:none;font-size:19px;text-align:right;color:#fff; }
#contact .formbox ul li input{flex-grow:1;}
#contact .formbox ul li input::placeholder,
#contact .formbox ul li.memo textarea::placeholder {color: #a3b2cd;}
#contact .formbox ul li:hover {border-color:#fff;}
#contact .formbox .btnbox{margin:90px 0 0; display:flex; justify-content: center;;}
#contact .formbox .btnbox a{width:300px;height: 70px;line-height: 70px;text-align: center; font-size: 28px; font-weight: 600;color: #fff; border-radius: 70px; background-color: #0f33a6;transition: all .2s;}
#contact .formbox .btnbox a img{width: 21px;height: auto;padding:0 0 0 35px;box-sizing: content-box;}
#contact .formbox .btnbox a:hover, #contact .formbox .btnbox a:focus {background-color:#083de7;}

  
    @media screen and (max-width: 1024px) {
    #contact { padding: 100px 20px; }
    #contact .title h3 { font-size: 52px; }
    #contact .title p { font-size: 20px; }
    #contact .formbox ul { gap: 20px 30px; }
    #contact .formbox ul li.half { padding: 0 20px; height: 65px; }
    #contact .formbox ul li.memo { padding: 20px; }
    #contact .formbox .btnbox { margin: 60px 0 0; }
    #contact .formbox .btnbox a { width: 240px; height: 60px; line-height: 60px; font-size: 22px; }
    #contact .formbox .btnbox a img{width: 14px;}
    }

    @media screen and (max-width: 640px) {

    #contact { padding: 80px 20px; }
    #contact .title h3 { font-size: 38px; margin: 0 0 15px; }
    #contact .title p { font-size: 17px; margin: 0 0 40px; }
    #contact .formbox ul { gap: 15px 0; }
    #contact .formbox ul li.half { width: 100%; height: 58px; padding: 0 18px; }
    #contact .formbox ul li.memo { padding: 18px; height: auto; }
    #contact .formbox ul li.memo textarea { font-size: 15px; }
    #contact .formbox ul li .tit { font-size: 15px; }
    #contact .formbox ul li input { font-size: 14px; }
    #contact .formbox .btnbox { margin: 40px 0 0; }
    #contact .formbox .btnbox a {width:200px;height: 55px; line-height: 55px; font-size: 20px; border-radius: 55px; }

    }

    @media screen and (max-width: 370px) {


    #contact { padding: 60px 16px; }
    #contact .title h3 { font-size: 30px; }
    #contact .title p { font-size: 15px; }
    #contact .formbox ul li.half { height: 52px; padding: 0 14px; }
    #contact .formbox ul li .tit { font-size: 14px; }
    #contact .formbox ul li input { font-size: 14px; }
    #contact .formbox ul li.memo textarea { font-size: 14px; }
    #contact .formbox .btnbox a { font-size: 18px; height: 50px; line-height: 50px; }

    }




/* 서브페이지 --------------------------------------------------*/

/* 서브 공통 */
.subcon {padding: 100px 0;position: relative;overflow-x: hidden;}
.subcon .bgtxt{font-size: 280px;font-weight: 800;color:#f6f6f8 ;position: absolute;top: 10px;right: -100px;z-index: -1;}
.subcon .bgtxt span{color:#ecf1f7 ;}
.subcon .title{padding:95px 0 20px;max-width: 1560px;margin: 0 auto;}
.subcon .title h3{font-size: 45px; font-weight: 700;color:#111;;display: flex;flex-direction: column;}
.subcon .title h3 span{font-size: 17px; font-weight:500;color:#b1c2d2;}

.subcon .subtab{border-bottom: 1px solid #ddd;margin: 0 0 100px 0;;}
.subcon .subtab .tabs{max-width: 1560px; margin:0 auto; display: flex; gap:25px;margin-bottom: -1px;}
.subcon .subtab .tabs a{display: flex; font-size:20px;font-weight: 500;color: #999999; font-size: 500;padding: 5px 8px;transition: all .3s;}
.subcon .subtab .tabs a.on{font-weight: 600;color: #015faa;border-bottom: 1px solid #015faa;}
.subcon .subtab .tabs a:hover, .subcon .subtab .tabs a:focus{color:#015faa;}


    @media screen and (max-width: 1560px) {
        .subcon .title { padding: 95px 20px 20px; }
        .subcon .subtab .tabs { padding: 0 20px; }
    }
    @media screen and (max-width: 1024px) {
    .subcon { padding: 70px 0; }
    .subcon .bgtxt { font-size: 160px; }
    .subcon .title { padding: 70px 20px 20px; }
    .subcon .title h3 { font-size: 36px; }
    .subcon .subtab { margin: 0 0 70px; }
    .subcon .subtab .tabs { padding: 0 20px; gap: 15px; }
    .subcon .subtab .tabs a { font-size: 17px; }
    }

    @media screen and (max-width: 640px) {

    .subcon { padding: 50px 0; }
    .subcon .bgtxt {font-size: 110px;    top: 60px;right: -20px;}
    .subcon .title { padding: 50px 20px 15px; }
    .subcon .title h3 { font-size: 28px; }
    .subcon .subtab { margin: 0 0 50px; }
    .subcon .subtab .tabs { gap: 8px; padding: 0 20px; flex-wrap: wrap; }
    .subcon .subtab .tabs a { font-size: 15px; }

    }

    @media screen and (max-width: 370px) {
    .subcon .bgtxt {font-size: 70px;    top: 90px;}
    .subcon .title { padding: 40px 16px 12px; }
    .subcon .title h3 { font-size: 24px; }
    .subcon .subtab .tabs { padding: 0 16px; gap: 6px; }
    .subcon .subtab .tabs a { font-size: 13px; padding: 5px 5px; }

    }



/*회사소개*/
.about .greet_wrap{padding: 110px 0;}
.about .greet_wrap{position: relative;background-color: #12172b;}
.about .bg-video{position: absolute;inset: 0;width: 100%;height: 100%;object-fit: cover;z-index:0;    opacity: 0.3;
    mix-blend-mode: screen;}
.about .greet_wrap .greet{max-width: 1560px; margin: 0 auto;}
.about .greet_wrap .greet h4{font-size:48px; font-weight: 600; color: #fff; line-height: 62px; letter-spacing: -0.01em;margin:0 0 50px 0; ;}
.about .greet_wrap .greet h4 b{color: #a4ccef;font-weight: 600;}
.about .greet_wrap .greet p{font-size: 20px;line-height: 1.6; margin: 0 0 20px 0;color: #ffffffd6;}
.about .gayo {max-width: 1560px; margin: 100px auto 0;display: flex;flex-wrap: wrap;align-items: flex-start}
.about .gayo > div{width: 20%;    height: 185px;padding: 0 25px; display: flex;flex-direction: column; gap:20px; align-items: center; justify-content: flex-start;border-right:1px solid #ddd; box-sizing: border-box;text-align: center;}
.about .gayo > div:last-child{border: none;}
.about .gayo > div h5{font-size: 20px; font-weight: 700;color: #000;;}
.about .gayo > div h6{font-size: 18px; font-weight: 400;color: #666666;line-height: 1.5;}


    @media screen and (max-width: 1560px) {

    .about .greet_wrap .greet { padding: 0 20px; }
    .about .gayo { padding: 0 20px; }

    }
    @media screen and (max-width: 1280px) {
    
        .about .gayo > div{    gap: 15px;}
        .about .gayo > div h5 {font-size: 18px;}
        .about .gayo > div h6 {font-size: 15px;line-height: 1.3;}
        .about .gayo {align-items: stretch;}
    }

    @media screen and (max-width: 1024px) {

    .about .greet_wrap { padding: 70px 0; }
    .about .greet_wrap .greet { padding: 0 20px; }
    .about .greet_wrap .greet h4 { font-size: 34px; line-height: 1.4; margin: 0 0 30px; }
    .about .greet_wrap .greet p { font-size: 17px; }
    .about .gayo { margin: 60px auto 0; padding: 0 20px; flex-wrap: wrap; }
    .about .gayo > div { width: 33.333%; height: auto; padding:30px 25px; border: 1px solid #ddd; margin-top:-1px;margin-left:-1px;}
    .about .gayo > div:last-child{border: 1px solid #ddd; }

    }

    @media screen and (max-width: 640px) {
    .about .greet_wrap { padding: 60px 0; }
    .about .greet_wrap .greet h4 { font-size: 25px; line-height: 1.4; margin: 0 0 25px; }
    .about .greet_wrap .greet p { font-size: 15px; }
    .about .gayo { margin: 40px auto 0; }
    .about .gayo > div { width: 50%; padding: 28px 15px; }
    .about .gayo > div .icon img{ width: 45px;;}
    .about .gayo > div h5 { font-size: 16px; }
    .about .gayo > div h6 { font-size: 14px; }
    }

    @media screen and (max-width: 370px) {

    .about .greet_wrap .greet { padding: 0 16px; }
    .about .greet_wrap .greet h4 { font-size: 22px; }
    .about .greet_wrap .greet p { font-size: 14px; }
    .about .gayo { padding: 0 16px; }
    .about .gayo > div { width: 50%; padding: 16px 10px; }
    .about .gayo > div h5 { font-size: 15px; }
    .about .gayo > div h6 { font-size: 13px; }
    }




/* 서비스 */
.serv_con{max-width: 1560px; margin: 0 auto;display: none;}
.serv_con.active {display: block;}
.serv_con .top {margin:0 0 60px 0;}
.serv_con .top h4{font-size: 45px; font-weight: 700;color: #0155aa; margin: 0 0 12px 0;;}
.serv_con .top h5{font-size: 22px; font-weight: 400;color: #666666;     }
.serv_con ul{display: grid;  justify-content: center;grid-template-columns: repeat(3, 1fr); gap: 60px 30px;margin:0 0 60px 0;}
.serv_con ul.grid2{grid-template-columns: repeat(2, 1fr); }
.serv_con ul li{display: flex; flex-direction: column; gap:30px;padding:65px 55px;border-radius: 25px; border:1px solid #e2e7ee;;background: linear-gradient(to top, #f2f7fc 0%, rgba(255, 255, 255, 0.5) 100%);}
.serv_con ul li h3{font-size: 37px; color: #111111;font-weight: 600 ;line-height:1.3;text-align: center;}
.serv_con ul li .gray{font-size: 20px; line-height: 1.5; color:#999;;text-align: center;}
.serv_con ul li .price{font-size: 45px;  color:#6e8295;font-weight:700;text-align: center;}
.serv_con ul li .price span{font-size: 25px;;}
.serv_con ul li .line{border-bottom: 1px solid #ddd;;}
.serv_con ul li .opt{display: flex;flex-direction: column;  gap:12px;margin: 0 auto;}
.serv_con ul li .opt .chk{font-size:18px; color:#8291a3; font-weight:500;padding-left:30px;background: url('../../images_dev/sky_chk.png') 0 4px no-repeat; }
.serv_con ul li:hover{border-color:#2367b2;}
.serv_con ul li:hover .price{color:#2367b2;}

.serv_con .notice {text-align: center; font-size: 18px; font-weight: 500;color:#999999;}
.serv_con .notice svg{width:25px;color:#00aef0;vertical-align: middle;}


    @media screen and (max-width: 1560px) {
        .serv_con { padding: 0 20px; }
    }
    @media screen and (max-width: 1280px) {
        .serv_con ul li {padding: 65px 45px;}
        .serv_con ul li h3{font-size: 31px;}
        .serv_con ul li .price{font-size: 37px;}
    }

    @media screen and (max-width: 1024px) {

    .serv_con { padding: 0 20px; }
    .serv_con .top h4 { font-size: 34px; }
    .serv_con .top h5 { font-size: 18px; }
    .serv_con ul { grid-template-columns: repeat(2, 1fr); gap: 30px 20px; }
    .serv_con ul.grid2 { grid-template-columns: repeat(2, 1fr); }
    .serv_con ul li { padding: 45px 35px; }
    .serv_con ul li h3 { font-size: 28px; }
    .serv_con ul li .price { font-size: 36px; }

    }

    @media screen and (max-width: 640px) {
    .serv_con .top h4 { font-size: 26px; }
    .serv_con .top h5 { font-size: 16px; }
    .serv_con ul { grid-template-columns: 1fr; gap: 20px; }
    .serv_con ul.grid2 { grid-template-columns: 1fr; }
    .serv_con ul li { padding: 35px 25px; gap: 20px; }
    .serv_con ul li h3 { font-size: 24px; }
    .serv_con ul li .gray { font-size: 16px; }
    .serv_con ul li .price { font-size: 30px; }
    .serv_con ul li .price span { font-size: 18px; }
    .serv_con ul li .opt .chk { font-size: 15px;background: url(../../images_dev/sky_chk.png) 0 4px no-repeat;background-size:14px;padding-left: 19px;}
    .serv_con .notice { font-size: 15px; }

    }

    @media screen and (max-width: 370px) {

    .serv_con { padding: 0 16px; }
    .serv_con .top h4 { font-size: 22px; }
    .serv_con .top h5 { font-size: 14px; }
    .serv_con ul li { padding: 28px 18px; }
    .serv_con ul li h3 { font-size: 20px; }
    .serv_con ul li .price { font-size: 26px; }
    .serv_con ul li .opt .chk { font-size: 13px; }

    }



/* 포트폴리오 리스트 */
.port .port_list { max-width: 1560px;margin:0 auto; display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px 30px; }
  .port .port_list .box a .thumb{width:100%; aspect-ratio:5/4 ; overflow: hidden; border-radius: 20px;margin: 0 0 25px 0;;}
  .port .port_list .box a .thumb img{width:100%; height: 100%;object-fit: cover;transition: all .6s;}
.port .port_list .box a .tbox h3{font-size: 23px; font-weight: 600; color: #111; line-height: 1.3; margin: 0 0 2px 0;transition: all .2s;}
.port .port_list .box a .tbox p{font-size: 17px;  color: #888888; line-height: 1.3; }

.port .port_list .box a:hover .thumb img,
.port .port_list .box a:focus .thumb img{transform: scale(1.05);}
.port .port_list .box a:hover .tbox h3{color:#015faa;}

#custom-cursor {
  position: fixed;
  width: 127px; height: 127px;
  border-radius: 50%;
background: linear-gradient(to top,#077ad3 0%,#0042ea 100%);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  transform: translate(-50%, -50%) ;
  transition: transform 0.25s cubic-bezier(0.34, 1.56, 0.64, 1), opacity 0.2s;
  opacity: 0;
  z-index: 9999;
}
#custom-cursor.visible {
  opacity: 1;
  transform: translate(-50%, -50%);
}
#custom-cursor > div {width:112px;height: 112px; border:1px solid #ffffff34;border-radius: 50%;  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;gap:8px;}
#custom-cursor .label { font-size: 12px;letter-spacing: 0.03em;font-weight: 500;line-height: 1; padding-top: 10px;;}
#custom-cursor .arrow { font-size: 16px;  display: inline-block; line-height: 1;;}
.port .port_list .box a { cursor: none; }

    @media screen and (max-width: 1560px) {
    .port .port_list { padding: 0 20px; }
    }


    @media screen and (max-width: 1024px) {

    .port .port_list { padding: 0 20px; grid-template-columns: repeat(2, 1fr); gap: 40px 20px; }
    .port .port_list .box a .tbox h3 { font-size: 19px; }
    .port .port_list .box a .tbox p { font-size: 15px; }
    #custom-cursor { display: none; }
    .port .port_list .box a { cursor: auto; }

    }

    @media screen and (max-width: 640px) {

    .port .port_list { grid-template-columns: 1fr; gap: 30px; padding: 0 20px; }
    .port .port_list .box a .thumb { border-radius: 14px; margin: 0 0 16px; }
    .port .port_list .box a .tbox h3 { font-size: 18px; }
    .port .port_list .box a .tbox p { font-size: 14px; }

    }

    @media screen and (max-width: 370px) {

    .port .port_list { padding: 0 16px; gap: 24px; }
    .port .port_list .box a .tbox h3 { font-size: 16px; }
    .port .port_list .box a .tbox p { font-size: 13px; }

    }


